{% load widget_tweaks %}

<div class="modal-header">
  <h3 class="modal-title">Detalle del Cabaña</h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div class="">
    Nombre:
    {{ object.nombre }}
  </div>
  <div class="">
    Apellido:
    {{ object.pax }}
  </div>
  <div class="">
    Precio
    {{ object.costo }}
  </div>
 
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
</div>